In [5]:
# The code was removed by DSX for sharing.

[Row(PassengerId=u'1', Survived=u'0', Pclass=u'3', Name=u'Braund, Mr. Owen Harris', Sex=u'male', Age=u'22', SibSp=u'1', Parch=u'0', Ticket=u'A/5 21171', Fare=u'7.25', Cabin=None, Embarked=u'S'),
 Row(PassengerId=u'2', Survived=u'1', Pclass=u'1', Name=u'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex=u'female', Age=u'38', SibSp=u'1', Parch=u'0', Ticket=u'PC 17599', Fare=u'71.2833', Cabin=u'C85', Embarked=u'C'),
 Row(PassengerId=u'3', Survived=u'1', Pclass=u'3', Name=u'Heikkinen, Miss. Laina', Sex=u'female', Age=u'26', SibSp=u'0', Parch=u'0', Ticket=u'STON/O2. 3101282', Fare=u'7.925', Cabin=None, Embarked=u'S'),
 Row(PassengerId=u'4', Survived=u'1', Pclass=u'1', Name=u'Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex=u'female', Age=u'35', SibSp=u'1', Parch=u'0', Ticket=u'113803', Fare=u'53.1', Cabin=u'C123', Embarked=u'S'),
 Row(PassengerId=u'5', Survived=u'0', Pclass=u'3', Name=u'Allen, Mr. William Henry', Sex=u'male', Age=u'35', SibSp=u'0', Parch=u'0', Ticket=u'373450', Fare=u'8.05', Cabin=None, Embarked=u'S')]

In [6]:
trainingDF.count()

891

In [7]:
import pandas as pd
trainingDF = (trainingDF.withColumn('Parch',trainingDF['Parch'].cast('double'))
                        .withColumn('Survived',trainingDF['Survived'].cast('double'))
                        .withColumn('SibSp',trainingDF['SibSp'].cast('double'))
                        .withColumn('Age',trainingDF['Age'].cast('double'))
                        .withColumn('Fare',trainingDF['Fare'].cast('double')))

In [11]:
trainingDF = trainingDF.fillna({'Sex': 'Null', 'Ticket': 'Null','Age': trainingDF.groupBy().mean('Age').first()[0], 'Fare':trainingDF.groupBy().mean('Fare').first()[0], 'Survived':0, 'SibSp': 0, 'Parch': 0, 'Pclass': 'Null','Embarked': 'Null'})

In [12]:
trainingDF = trainingDF.drop('Cabin', 'PassengerId','Name')

In [14]:
trainingDF = trainingDF.dropna()

In [15]:
trainingDF.count()

891

In [16]:
###One-Hot Encoding
from pyspark.ml import Pipeline
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler

categoricalColumns = ["Pclass", "Sex", "Ticket", "Embarked"]
stages = [] # stages in our Pipeline
for categoricalCol in categoricalColumns:
  # Category Indexing with StringIndexer
  stringIndexer = StringIndexer(inputCol=categoricalCol, outputCol=categoricalCol+"Index")
  # Use OneHotEncoder to convert categorical variables into binary SparseVectors
  encoder = OneHotEncoder(inputCol=categoricalCol+"Index", outputCol=categoricalCol+"classVec")
  # Add stages.  These are not run here, but will run all at once later on.
  stages += [stringIndexer,encoder]

In [17]:
# Convert label into label indices using the StringIndexer
label_stringIdx = StringIndexer(inputCol = "Survived", outputCol = "label")
stages += [label_stringIdx]

In [18]:
# Transform all features into a vector using VectorAssembler
numericCols = ["Age", "SibSp","Parch", "Fare"]
assemblerInputs = map(lambda c: c + "classVec", categoricalColumns) + numericCols
assembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")
stages += [assembler]

In [20]:
cols = trainingDF.columns
# Create a Pipeline.
pipeline = Pipeline(stages=stages)
# Run the feature transformations.
#  - fit() computes feature statistics as needed.
#  - transform() actually transforms the features.
pipelineModel = pipeline.fit(trainingDF)
dataset = pipelineModel.transform(trainingDF)

In [21]:
# Keep relevant columns
selectedcols = ["label", "features"] + cols
dataset = dataset.select(selectedcols)
dataset.toPandas()

,label,features,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,0,"(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,22.000000,1,0,A/5 21171,7.2500,S
1,1,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,female,38.000000,1,0,PC 17599,71.2833,C
2,1,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,3,female,26.000000,0,0,STON/O2. 3101282,7.9250,S
3,1,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,female,35.000000,1,0,113803,53.1000,S
4,0,"(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,35.000000,0,0,373450,8.0500,S
5,0,"(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,29.699118,0,0,330877,8.4583,Q
6,0,"(0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,1,male,54.000000,0,0,17463,51.8625,S
7,0,"(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,2.000000,3,1,349909,21.0750,S
8,1,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,3,female,27.000000,0,2,347742,11.1333,S
9,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,2,female,14.000000,1,0,237736,30.0708,C
10,1,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,3,female,4.000000,1,1,PP 9549,16.7000,S
11,1,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,female,58.000000,0,0,113783,26.5500,S
12,0,"(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,20.000000,0,0,A/5. 2151,8.0500,S
13,0,"(1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,39.000000,1,5,347082,31.2750,S
14,0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,female,14.000000,0,0,350406,7.8542,S
15,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,2,female,55.000000,0,0,248706,16.0000,S
16,0,"(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,2.000000,4,1,382652,29.1250,Q
17,1,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,2,male,29.699118,0,0,244373,13.0000,S
18,0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,female,31.000000,1,0,345763,18.0000,S
19,1,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,3,female,29.699118,0,0,2649,7.2250,C
20,0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,2,male,35.000000,0,0,239865,26.0000,S
21,1,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,2,male,34.000000,0,0,248698,13.0000,S
22,1,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,3,female,15.000000,0,0,330923,8.0292,Q
23,1,"(0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,male,28.000000,0,0,113788,35.5000,S
24,0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,female,8.000000,3,1,349909,21.0750,S
25,1,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,3,female,38.000000,1,5,347077,31.3875,S
26,0,"(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,29.699118,0,0,2631,7.2250,C
27,0,"(0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,1,male,19.000000,3,2,19950,263.0000,S
28,1,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,3,female,29.699118,0,0,330959,7.8792,Q
29,0,"(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,29.699118,0,0,349216,7.8958,S
...,...,...,...,...,...,...,...,...,...,...,...
861,0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,2,male,21.000000,1,0,28134,11.5000,S
862,1,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,female,48.000000,0,0,17466,25.9292,S
863,0,"(1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,female,29.699118,8,2,CA. 2343,69.5500,S
864,0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,2,male,24.000000,0,0,233866,13.0000,S
865,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,2,female,42.000000,0,0,236852,13.0000,S
866,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,2,female,27.000000,1,0,SC/PARIS 2149,13.8583,C
867,0,"(0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,1,male,31.000000,0,0,PC 17590,50.4958,S
868,0,"(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,29.699118,0,0,345777,9.5000,S
869,1,"(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,3,male,4.000000,1,1,347742,11.1333,S
870,0,"(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,26.000000,0,0,349248,7.8958,S
871,1,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,female,47.000000,1,1,11751,52.5542,S
872,0,"(0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,1,male,33.000000,0,0,695,5.0000,S
873,0,"(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,47.000000,0,0,345765,9.0000,S
874,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,2,female,28.000000,1,0,P/PP 3381,24.0000,C
875,1,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,3,female,15.000000,0,0,2667,7.2250,C
876,0,"(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,20.000000,0,0,7534,9.8458,S
877,0,"(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,19.000000,0,0,349212,7.8958,S
878,0,"(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,29.699118,0,0,349217,7.8958,S
879,1,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,female,56.000000,0,1,11767,83.1583,C
880,1,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,2,female,25.000000,0,1,230433,26.0000,S
881,0,"(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,33.000000,0,0,349257,7.8958,S
882,0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,female,22.000000,0,0,7552,10.5167,S
883,0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,2,male,28.000000,0,0,C.A./SOTON 34068,10.5000,S
884,0,"(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,25.000000,0,0,SOTON/OQ 392076,7.0500,S
885,0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,female,39.000000,0,5,382652,29.1250,Q
886,0,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,2,male,27.000000,0,0,211536,13.0000,S
887,1,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,female,19.000000,0,0,112053,30.0000,S
888,0,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,female,29.699118,1,2,W./C. 6607,23.4500,S
889,1,"(0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1,1,male,26.000000,0,0,111369,30.0000,C
890,0,"(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,3,male,32.000000,0,0,370376,7.7500,Q

In [22]:
### Randomly split data into training and test sets. set seed for reproducibility
(trainingData, testData) = dataset.randomSplit([0.75, 0.25], seed = 100)

In [24]:
print trainingData.count()
print testData.count()

657
234

In [25]:
from pyspark.ml.classification import LogisticRegression

# Create initial LogisticRegression model
lr = LogisticRegression(labelCol="label", featuresCol="features", maxIter=10)

# Train model with Training Data
lrModel = lr.fit(trainingData)

# Make predictions on test data using the transform() method.
# LogisticRegression.transform() will only use the 'features' column.
predictions = lrModel.transform(testData)
predictions.printSchema()

# View model's predictions and probabilities of each prediction class
# You can select any columns in the above schema to view as well. For example's sake we will choose age & sex
selected = predictions.select("label", "prediction", "probability","Age", "Sex")
selected.toPandas()

root
 |-- label: double (nullable = true)
 |-- features: vector (nullable = true)
 |-- Survived: double (nullable = false)
 |-- Pclass: string (nullable = false)
 |-- Sex: string (nullable = false)
 |-- Age: double (nullable = false)
 |-- SibSp: double (nullable = false)
 |-- Parch: double (nullable = false)
 |-- Ticket: string (nullable = false)
 |-- Fare: double (nullable = false)
 |-- Embarked: string (nullable = false)
 |-- rawPrediction: vector (nullable = true)
 |-- probability: vector (nullable = true)
 |-- prediction: double (nullable = true)

     label  prediction                          probability        Age     Sex
0        0           0  [0.999981670013, 1.83299867073e-05]  29.699118    male
1        0           1     [0.229418030563, 0.770581969437]  29.699118    male
2        0           0  [0.999975785539, 2.42144611247e-05]   1.000000    male
3        0           0  [0.999976528511, 2.34714889607e-05]   2.000000    male
4        0           0   [0.99999775835, 2.24164952953e-06]  40.000000    male
5        0           0  [0.999978494472, 2.15055277639e-05]  11.000000    male
6        0           0   [0.999980413923, 1.9586077438e-05]  14.000000    male
7        0           0  [0.999980710159, 1.92898414733e-05]   4.000000    male
8        0           0     [0.725264179845, 0.274735820155]  36.000000    male
9        0           0     [0.798325613086, 0.201674386914]  49.000000    male
10       0           0  [0.999998277013, 1.72298658947e-06]  36.000000    male
11       0           0   [0.999040192165, 0.00095980783488]  29.699118    male
12       0           0  [0.999997818676, 2.18132361352e-06]  18.000000    male
13       0           1     [0.135997907469, 0.864002092531]  27.000000    male
14       0           1    [0.0927872358154, 0.907212764185]  28.000000    male
15       0           0   [0.998450316214, 0.00154968378592]  29.699118    male
16       0           0  [0.999036335547, 0.000963664453408]  28.000000    male
17       0           0   [0.998933533068, 0.00106646693158]  21.000000    male
18       0           0   [0.998974045287, 0.00102595471273]  22.000000    male
19       0           0   [0.998975494169, 0.00102450583108]  22.000000    male
20       0           0    [0.99860083746, 0.00139916253953]  29.699118    male
21       0           0  [0.999395488686, 0.000604511314336]  39.000000    male
22       0           0  [0.999192728507, 0.000807271492886]  29.699118    male
23       0           0  [0.999443643732, 0.000556356267991]  42.000000    male
24       0           0  [0.999797254957, 0.000202745042785]  74.000000    male
25       0           0  [0.999174213934, 0.000825786065909]  29.699118    male
26       0           0  [0.999175204261, 0.000824795738628]  29.000000    male
27       0           0   [0.99920232256, 0.000797677439543]  29.699118    male
28       0           0         [0.9988142436, 0.0011857564]  17.000000    male
29       0           0  [0.999190967004, 0.000809032995581]  29.699118    male
..     ...         ...                                  ...        ...     ...
204      1           1  [3.77660922293e-05, 0.999962233908]  21.000000  female
205      1           1    [0.0129622966769, 0.987037703323]  29.699118  female
206      1           1     [0.032648963167, 0.967351036833]  58.000000  female
207      1           0    [0.965624244831, 0.0343757551694]  22.000000  female
208      1           1  [0.000320181725622, 0.999679818274]  29.699118  female
209      1           1  [0.000221024077351, 0.999778975923]  24.000000  female
210      1           0    [0.974852521711, 0.0251474782894]  26.000000  female
211      1           0    [0.981267142228, 0.0187328577723]  33.000000  female
212      1           1     [0.192420325622, 0.807579674378]  48.000000  female
213      1           1    [0.0847023442739, 0.915297655726]  60.000000  female
214      1           1    [0.0712391167492, 0.928760883251]  16.000000  female
215      1           1     [0.104854419791, 0.895145580209]  44.000000  female
216      1           1    [0.0469938313685, 0.953006168631]  38.000000  female
217      1           1    [0.0434360911558, 0.956563908844]  39.000000  female
218      1           1   [0.00112839777253, 0.998871602227]   0.830000    male
219      1           0  [0.999844046529, 0.000155953470962]   8.000000    male
220      1           0   [0.996750285367, 0.00324971463312]  34.000000    male
221      1           1  [9.98340549762e-06, 0.999990016595]  24.000000  female
222      1           1     [0.294657834278, 0.705342165722]   6.000000  female
223      1           1     [0.452969928283, 0.547030071717]  29.699118  female
224      1           1    [0.0313789886073, 0.968621011393]   3.000000  female
225      1           1  [0.000735585573956, 0.999264414426]  34.000000  female
226      1           1  [5.47967174613e-06, 0.999994520328]  19.000000  female
227      1           1  [1.07475939238e-05, 0.999989252406]  24.000000  female
228      1           0     [0.975273675511, 0.024726324489]  24.000000  female
229      1           0     [0.977217623924, 0.022782376076]  30.000000  female
230      1           0     [0.556826228034, 0.443173771966]  34.000000  female
231      1           1     [0.456764349976, 0.543235650024]  29.000000  female
232      1           0     [0.541395684613, 0.458604315387]  32.000000  female
233      1           1     [0.334975270387, 0.665024729613]  23.000000  female

[234 rows x 5 columns]

In [26]:


from pyspark.ml.evaluation import BinaryClassificationEvaluator
# Evaluate model
evaluator = BinaryClassificationEvaluator(rawPredictionCol="rawPrediction")

#evaluate the LogisticRegression Model predictions
evaluator.evaluate(predictions)

0.8198279087167974

In [27]:
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

# Create ParamGrid for Cross Validation
paramGrid = (ParamGridBuilder()
             .addGrid(lr.regParam, [0.01, 0.5, 2.0])
             .addGrid(lr.elasticNetParam, [0.0, 0.5, 1.0])
             .addGrid(lr.maxIter, [1, 5, 10])
             .build())

# Create 5-fold CrossValidator
cv = CrossValidator(estimator=lr, estimatorParamMaps=paramGrid, evaluator=evaluator, numFolds=5)

# Run cross validations
cvModel = cv.fit(trainingData)

In [28]:
predictions = cvModel.transform(testData)
# cvModel uses the best model found from the Cross Validation
# Evaluate best model
evaluator.evaluate(predictions)

0.8539094650205764

In [66]:
from pyspark.ml.classification import DecisionTreeClassifier

# Create initial Decision Tree Model
dt = DecisionTreeClassifier(labelCol="label", featuresCol="features", maxDepth=3)

# Train model with Training Data
dtModel = dt.fit(trainingData)

In [67]:
# Make predictions on test data using the Transformer.transform() method.
predictions = dtModel.transform(testData)
selected = predictions.select("label", "prediction", "probability", "Age","Sex")
selected.show()

+-----+----------+--------------------+-------------+----+
|label|prediction|         probability|          Age| Sex|
+-----+----------+--------------------+-------------+----+
|  0.0|       0.0|[0.89329268292682...|29.6991176471|male|
|  0.0|       0.0|[0.89329268292682...|29.6991176471|male|
|  0.0|       0.0|         [0.75,0.25]|          1.0|male|
|  0.0|       0.0|         [0.75,0.25]|          2.0|male|
|  0.0|       0.0|[0.89329268292682...|         40.0|male|
|  0.0|       0.0|[0.89329268292682...|         11.0|male|
|  0.0|       0.0|[0.89329268292682...|         14.0|male|
|  0.0|       0.0|[0.89329268292682...|          4.0|male|
|  0.0|       0.0|[0.89329268292682...|         36.0|male|
|  0.0|       0.0|[0.89329268292682...|         49.0|male|
|  0.0|       0.0|[0.89329268292682...|         36.0|male|
|  0.0|       0.0|[0.89329268292682...|29.6991176471|male|
|  0.0|       0.0|[0.89329268292682...|         18.0|male|
|  0.0|       0.0|[0.89329268292682...|         27.0|male|
|  0.0|       0.0|[0.89329268292682...|         28.0|male|
|  0.0|       0.0|[0.89329268292682...|29.6991176471|male|
|  0.0|       0.0|[0.89329268292682...|         28.0|male|
|  0.0|       0.0|[0.89329268292682...|         21.0|male|
|  0.0|       0.0|[0.89329268292682...|         22.0|male|
|  0.0|       0.0|[0.89329268292682...|         22.0|male|
+-----+----------+--------------------+-------------+----+
only showing top 20 rows

In [68]:
#evaluate decision tree classifier model

evaluator.evaluate(predictions)

0.793939393939394

In [69]:
# Create ParamGrid for Cross Validation
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

paramGrid = (ParamGridBuilder()
             .addGrid(dt.maxDepth, [1,2,6,10])
             .addGrid(dt.maxBins, [20,40,80])
             .build())
# Create 5-fold CrossValidator
cv = CrossValidator(estimator=dt, estimatorParamMaps=paramGrid, evaluator=evaluator, numFolds=5)

# Run cross validations
cvModel = cv.fit(trainingData)

In [70]:
# Use test set here so we can measure the accuracy of our model on new data
predictions = cvModel.transform(testData)
# cvModel uses the best model found from the Cross Validation
# Evaluate best model
evaluator.evaluate(predictions)

0.8292929292929293

In [82]:
from pyspark.ml.classification import RandomForestClassifier

# Create an initial RandomForest model.
rf = RandomForestClassifier(labelCol="label", featuresCol="features")

# Train model with Training Data
rfModel = rf.fit(trainingData)


predictions = rfModel.transform(testData)

In [83]:

# View model's predictions and probabilities of each prediction class
selected = predictions.select("label", "prediction", "probability", "Age","Sex")
selected.show()

+-----+----------+--------------------+-------------+----+
|label|prediction|         probability|          Age| Sex|
+-----+----------+--------------------+-------------+----+
|  0.0|       0.0|[0.67911771158113...|29.6991176471|male|
|  0.0|       0.0|[0.68688287439747...|29.6991176471|male|
|  0.0|       0.0|[0.61827801566730...|          1.0|male|
|  0.0|       0.0|[0.61827801566730...|          2.0|male|
|  0.0|       0.0|[0.67244257151202...|         40.0|male|
|  0.0|       0.0|[0.67568409193471...|         11.0|male|
|  0.0|       0.0|[0.67568409193471...|         14.0|male|
|  0.0|       0.0|[0.72489366119374...|          4.0|male|
|  0.0|       0.0|[0.74937366144782...|         36.0|male|
|  0.0|       0.0|[0.73827457534874...|         49.0|male|
|  0.0|       0.0|[0.67244257151202...|         36.0|male|
|  0.0|       0.0|[0.67244257151202...|29.6991176471|male|
|  0.0|       0.0|[0.67244257151202...|         18.0|male|
|  0.0|       0.0|[0.67142542712931...|         27.0|male|
|  0.0|       0.0|[0.71222416573042...|         28.0|male|
|  0.0|       0.0|[0.70984261683115...|29.6991176471|male|
|  0.0|       0.0|[0.74010543006317...|         28.0|male|
|  0.0|       0.0|[0.74937366144782...|         21.0|male|
|  0.0|       0.0|[0.74937366144782...|         22.0|male|
|  0.0|       0.0|[0.74937366144782...|         22.0|male|
+-----+----------+--------------------+-------------+----+
only showing top 20 rows

In [84]:
evaluator.evaluate(predictions)

0.6730639730639731

In [85]:
# Create ParamGrid for Cross Validation
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

paramGrid = (ParamGridBuilder()
             .addGrid(rf.maxDepth, [2, 4, 6])
             .addGrid(rf.maxBins, [20, 60])
             .addGrid(rf.numTrees, [5, 20])
             .build())
# Create 5-fold CrossValidator
cv = CrossValidator(estimator=rf, estimatorParamMaps=paramGrid, evaluator=evaluator, numFolds=5)

# Run cross validations.  This can take about 6 minutes since it is training over 20 trees!
cvModel = cv.fit(trainingData)

In [87]:
# Use test set here so we can measure the accuracy of our model on new data
predictions = cvModel.transform(testData)

In [88]:
# cvModel uses the best model found from the Cross Validation
# Evaluate best model
evaluator.evaluate(predictions)

0.694949494949495

In [98]:
from pyspark.ml.classification import MultilayerPerceptronClassifier

features_size = trainingData.select("features").first()[0].size
layers = [features_size, 10, 2]
# create the trainer and set its parameters
trainer = MultilayerPerceptronClassifier(maxIter=100, layers=layers, blockSize=128, seed=1234)

# train the model
model = trainer.fit(trainingData)

In [99]:
predictions = model.transform(trainingData)
selected = predictions.select("label", "prediction", "Age","Sex")
selected.show()

+-----+----------+-------------+----+
|label|prediction|          Age| Sex|
+-----+----------+-------------+----+
|  0.0|       0.0|          4.0|male|
|  0.0|       0.0|         39.0|male|
|  0.0|       0.0|29.6991176471|male|
|  0.0|       0.0|29.6991176471|male|
|  0.0|       0.0|29.6991176471|male|
|  0.0|       0.0|         28.0|male|
|  0.0|       0.0|          7.0|male|
|  0.0|       0.0|         14.0|male|
|  0.0|       0.0|         16.0|male|
|  0.0|       0.0|          4.0|male|
|  0.0|       0.0|         10.0|male|
|  0.0|       0.0|          1.0|male|
|  0.0|       0.0|          9.0|male|
|  0.0|       0.0|          2.0|male|
|  0.0|       0.0|          7.0|male|
|  0.0|       0.0|          8.0|male|
|  0.0|       0.0|         19.0|male|
|  0.0|       0.0|          2.0|male|
|  0.0|       0.0|         16.0|male|
|  0.0|       0.0|          9.0|male|
+-----+----------+-------------+----+
only showing top 20 rows

In [100]:
evaluator = BinaryClassificationEvaluator(rawPredictionCol="prediction")
evaluator.evaluate(predictions)

0.7841295401681875